---
layout: default
---

<div class="row">
{%include personal_info.html %}
</div>

<div class="row">
    <div class="col">
{%include blogpreview.html %}
</div>
<!-- <div class="col">
    {%include blogpreview.html %}
    </div>
    <div class="col">
        {%include blogpreview.html %}
        </div>
        <div class="col">
            {%include blogpreview.html %}
            </div> -->
</div>
<div class="row">
    {%include courses.html %}
    </div>
    
<div class="row">
{%include track_records.html %}
</div>



<!-- <div class="row">
{%include projects.html %}
</div> -->

