<div class="container">
<div class="your-element" data-tilt data-tilt-max="50" data-tilt-speed="400" data-tilt-perspective="500"></div>
<div data-tilt></div>

<div class="box" 
     data-tilt="" 
     data-tilt-glare="" 
     data-tilt-max-glare="0.8" 
     style="will-change: transform; transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);">
     
     <div class="js-tilt-glare" 
          style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none;">
          
          <div class="js-tilt-glare-inner" 
               style="position: absolute; top: 50%; left: 50%; pointer-events: none; background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%); width: 400px; height: 400px; transform: rotate(180deg) translate(-50%, -50%); transform-origin: 0% 0%; opacity: 0;">
</div></div></div>

<script type="text/javascript" src="{{site.url}}/assets/js/vanilla-tilt.js"></script>
<script type="text/javascript">
	VanillaTilt.init(document.querySelector(".your-element"), {
		max: 25,
		speed: 400
	}); 
    console.log('Hello');
    console.log(document.querySelector(".your-element"))
	//It also supports NodeList
	VanillaTilt.init(document.querySelectorAll(".your-element"));
</script>
</div>