<div class="container">

  <div class="row">
    <div class="col align-self-left">

      <h1>
        Anton Dorozhko
      </h1>

      <p>
        Machine Learning & Software Engineer with 9+ years of experience in Custom ML projects, Computer Vision projects
        for Smart Cities including AIoT and on-premise solutions. I help companies build AI pipelines and MLOps
        platforms to provide a stable stream of value for their clients.

      </p>


      
    </div>
    <div class="col  align-self-center">
      <img style="width:100%;max-width:100%" alt="profile photo" src="/assets/images/Anton2024.jpeg">
    </div>



  </div>
  <div class="row">
    <p style="text-align:left">
      <a href="mailto:dorozhko.a@gmail.com"> Mail </a>
      <br>
      <a href="https://github.com/Dorozhko-Anton"> GitHub</a>
      <br>
      <!-- <a href="FILL">Google Scholar</a> &nbsp;/&nbsp; -->
      <a href="https://www.linkedin.com/in/dorozhko-anton/"> LinkedIn </a>
      <br>
      <a href="/assets/trackrecords/cv-Dorozhko-Anton-en-11.12.2024.pdf"> CV (eng) </a>
      <br>
      <!-- <a href="/assets/trackrecords/cv-Dorozhko-Anton-fr.pdf"> CV (fr) </a> -->

      <br>
      My knowledge sharing:
      <br>
      <a href="https://www.youtube.com/@ComputerVisionStream"> Computer Vision Stream (YouTube)</a>
      <br>
      <a href="https://x.com/dorozhkoa"> MLOps tweets </a>
      <br>

      <br>
      I can help you with your AI and computer vision projects 
      <br>
      <a href="https://calendly.com/value-stream/brief-consultation-swe-mle-mlops-cve"> Book: Brief consultation (SWE,
        MLE, MLOps, CVE) </a>
      <br>
      <a href="https://calendly.com/value-stream/one-on-one-consultation-swe-mle-mlops-cve "> Book: One-on-one
        consultation (SWE, MLE, MLOps, CVE) </a>
      
      <br>
      <br>
      I can help to become a better software engineer
      <br> 
        <a href="https://calendly.com/value-stream/consultation"> Book: On-demand CV review (30min) </a>
        <br>  
        <br>
        Other activities:
        <br>
        Paris DataBrunch: You can find me and other fellow Data Scientists/Engineers there every Saturday and discuss over a cup of coffee. (contact me in <a href="https://www.linkedin.com/in/dorozhko-anton/"> LinkedIn </a> if you want to join)
        <br>
        <a href="https://www.instagram.com/mamboconsabor_company/"> Mambo Con Sabor Dance Company </a>
        <br>

    </p>
    <br>

    <br>
    <p>

      <div> All services: </div>
      <!-- Calendly inline widget begin -->
<div class="calendly-inline-widget" data-url="https://calendly.com/value-stream?hide_landing_page_details=1&hide_gdpr_banner=1&background_color=FFFFFF" style="width:100%;height:500px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
<!-- Calendly inline widget end -->
    </p>
    <!-- <p>
      <h2>Scientific interests</h2>
      I am interested in Machine Learning / Artificial Intelligence / Optimization / Datascience. More precisely
      computer vision and reinforcement learning.
    </p> -->
  </div>

</div>