<div class="container">

  <div class="row">
<div class="col align-self-center"> 

      <h1>
         Anton Dorozhko
      </h1>

      <p>
          I am doing double master degree program. I receive an MSc in datascience from 
          <a href='https://english.nsu.ru/'>Novosibirsk State University </a>
          and I will obtain datascience engeneering degree from 
          <a href='https://www.telecom-paris.fr/'>Télécom ParisTech</a>.  
          Currently I am doing a Computer Vision internship at a startup called 
          <a href='http://wintics.com/'>Wintics</a> in Paris. 

      </p>

   
      <p style="text-align:center">
        <a href="mailto:dorozhko.a@gmail.com"> Mail </a> &nbsp;/&nbsp;
        <a href="https://github.com/Dorozhko-Anton">GitHub</a> &nbsp;/&nbsp;
        <!-- <a href="FILL">Google Scholar</a> &nbsp;/&nbsp; -->
        <a href="https://www.linkedin.com/in/dorozhko-anton/"> LinkedIn </a>/&nbsp;
        <a href="/assets/trackrecords/cv-Dorozhko-Anton-en.pdf"> CV (eng) </a>/&nbsp;
        <a href="/assets/trackrecords/cv-Dorozhko-Anton-fr.pdf"> CV (fr) </a>
      </p>

      <h2>Scientific interests</h2>
  <p>
    I am interested in Machine Learning / Artificial Intelligence / Optimization / Datascience. More precisely computer vision and reinforcement learning.
  </p>
</div>
<div class="col  align-self-end">      
  <img style="width:100%;max-width:100%" alt="profile photo" src="/assets/images/Anton.png">
</div>
</div>


</div>
