<table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
        <tr style="padding:0px">
          <td style="padding:2.5%;width:60%;vertical-align:middle">
            <h1>
               Anton Dorozhko
            </h1>

            <p>
                I am doing double master degree program. I receive an MSc in datascience from 
                <a href='https://english.nsu.ru/'>Novosibirsk State University </a>
                and I will obtain datascience engeneering degree from 
                <a href='https://www.telecom-paris.fr/'>Télécom ParisTech</a>.  
                Currently I am doing a Computer Vision internship at a startup called 
                <a href='http://wintics.com/'>Wintics</a> in Paris. 

            </p>

         
            <p style="text-align:center">
              <a target="_blank" href="dorozhko.a@gmail.com"> mail </a> &nbsp;/&nbsp;
              <a href="https://github.com/Dorozhko-Anton">GitHub</a> &nbsp;/&nbsp;
              <!-- <a href="FILL">Google Scholar</a> &nbsp;/&nbsp; -->
              <a href="https://www.linkedin.com/in/dorozhko-anton/"> LinkedIn </a>/&nbsp;
              <a href="FILL"> CV (eng) </a>/&nbsp;
              <a href="FILL"> CV (fr) </a>
            </p>
          </td>
          <td style="padding:2.5%;width:40%;max-width:40%">
            <img style="width:100%;max-width:100%" alt="profile photo" src="/images/Anton.png">
          </td>
        </tr>
      </table>

      <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
        <tr>
          <td style="padding:2.5%;width:100%;vertical-align:middle">
            <h2>Scientific interests</h2>
            <p>
              I am interested in Machine Learning / Artificial Intelligence / Optimization / Datascience. More precisely computer vision and reinforcement learning.
            </p>
          </td>
        </tr>
      </table>